<<<<<<< HEAD
* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
}
=======
>>>>>>> 5b89c6d76eebe80d034c7e10c69a85a65ec031cd
