* {
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	/* padding: 2rem; */
	text-align: center;
}
* {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.progress-point,
.progress-connector {
	background-color: #c9edbd;
}
.progress-point {
	height: 14.5px;
	width: 14.5px;
}
.progress-point.active {
	height: 25.6px;
	width: 25.6px;
	background-color: #1c6328;
}
.progress-point.done {
	height: 25.6px;
	width: 25.6px;
	background-color: white;
	border: 1px solid #1c6328;
}
.form-group > input {
	outline: none;
	border: none;
}
.radio-container {
	display: flex;
	gap: 20px;
	align-items: center;
}

.radio-input {
	display: none; /* Hide the default radio button */
}

.radio-label,
.radio-label-lg {
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	padding-left: 20px;
}
.radio-label-lg {
	padding-left: 30px;
}

.radio-label::before,
.radio-label-lg::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 14px;
	height: 14px;
	border: 1px solid #1c6328;
	border-radius: 50%;
	background-color: white;
	box-sizing: border-box;
}
.radio-label-lg::before {
	width: 25px;
	height: 25px;
}

.radio-input:checked + .radio-label::after,
.radio-input:checked + .radio-label-lg::after {
	content: "";
	position: absolute;
	left: 7px;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 7px;
	height: 7px;
	background-color: #1c6328;
	border-radius: 50%;
}
.radio-input:checked + .radio-label-lg::after {
	width: 15px;
	height: 15px;
	left: 12.5px;
}
.artificial-overflow {
	width: calc(98dvw - 3.2rem);
}
@media (min-width: 768px) {
	.artificial-overflow {
		width: calc(98dvw - 4rem);
	}
}
